@font-face {
  font-family: "Tomorrow";
  src: local("Tomorrow"),
      url("./fonts/Tomorrow-Thin.ttf") format("truetype");
      font-weight: 300;
      font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.076);
}

.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f8df53);
}

.photo-temple {
  height: 44em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  position: sticky;
  top: 0;
  padding: 2px 16px;
  background-color: rgb(255, 255, 255);
  
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s;
  font-family: "Tomorrow", "sans-serif";
}

.nav-links a:hover {
  color: #f8df53;
}

.card {
  padding: 1.5em;
}

.copyright {
  color: #888;
  padding: 8em;
}

.active {
  font-weight: bold;
  color: #007bff;
}

